<h1>Login Platform</h1>
<div ng-show="user">
	<p>You are now logged in.<a href="#/logout" ng-click="logout()">Logout</a></p>
	<p>{{user.name}}</p>
</div>
<p ng-show="!user"><a href="#/login">Login</a> or <a href="#/sign_up">SignUp</a></p>
